h1, h2 {
	font-family: 'Noto Serif', sans-serif;
}

li, p {
	font-family: 'Noto Sans', sans-serif;
}

.hidden {
	display: none;
}

.siteCon {
	margin: 0 auto;
	max-width: 1500px;
}

#mainNav {
	margin-top: 20px;
	margin-bottom: 20px;
}

#mainNav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#logo {
	width: 250px !important; 
	height: 150px;
	margin-left: -5%;
}

.navBtn {
	padding-top: 50px;
}

#mainNav ul li a {
	text-decoration: none;
	font-size: 22px;
	color: #333;
	letter-spacing: 0.05em;
}

#heroArea {
	background-image: url(../images/heroImg.png);
	background-repeat: no-repeat;
	height: 450px;
	display: flex;
	justify-content: center;
}

#imgWrapper h2 {
	color: white;
	font-size: 45px;
	margin-top: 120px;
	text-align: center;
}

#imgWrapper h3 {
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 80px;
}

.bookingCon {
	width: 900px;
	display: flex;
	justify-content: space-evenly;
}

.bookingCon input {
	height: 30px;
	width: 250px;
	margin-left: 20px;
	padding-left: 10px;
	border-radius: 5px;
	border: solid 2px #333;
}

.bookBtn {
	height: 37px !important;
	width: 150px !important;
	background-color: rgba(255,255,255,0.8);
}

#introWrapper h2 {
	text-align: center;
	margin-top: 90px;
	font-size: 28px;
}

.line {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 40px;
}

#introWrapper p {
	width: 710px;
	font-size: 18px;
	letter-spacing: 0.04em;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
}

#roomWrapper {
	margin-top: 150px;
}

#roomWrapper h2 {
	text-align: center;
	font-size: 28px;
}

#roomWrapper h3 {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

#roomAmens ul li {
	margin-left: 20px;
	font-size: 20px;
	width: 310px;
	padding-top: 10px;
}

#roomAmens ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 990px;
	margin: 0 auto;
	padding-left: 40px;
}

#btnWrapper {
	margin: 50px auto;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
}

.roomBtn {
	width: 155px;
	height: 40px;
	font-size: 18px;
	color: white;
	border-radius: 5px;
	border: solid 2px #333333;
	background-image: url(../images/velvet.jpg);
	background-size: cover;
}

.roomBtn:hover {
	cursor: pointer;
}

#roomCon {
	background-color: #efefef;
	background-image: url(../images/chateauBck.png);
	border: solid 2px black;
	padding-top: 60px;
	display: flex;
	height: 500px;
	justify-content: space-evenly;
	margin: 0 auto;
}

#roomImage {
	border: solid 2px black;
}

#para {
	width: 30%;
	font-size: 19.3px;
	letter-spacing: 0.02em;
	background-color: rgba(255,255,255,0.7);
	height: 350px;
	padding: 30px 25px 0 25px; 
	border: solid 2px black;
	line-height: 20.2px;
}

#spaWrapper {
	margin-top: 160px;
	display: flex;
	justify-content: flex-start;
}

#spaWrapper p {
	width: 30%;
	font-size: 17px;
	line-height: 20px;
	margin-top: 130px;
	position: relative;
	right: 10%;
}

#spaWrapper h2 {
	font-size: 25px;
	position: relative;
	left: 15%;
	top: 50px;
	width: 22%;
}

.wrapperImg {
	width: 52%;
	height: 450px;
}

.spaImg {
	background-image: url(../images/spa.jpg);
	background-size: cover;
}

.activityImg {
	background-image: url(../images/activity.jpg);
	background-size: cover;

}

.diningImg {
	background-image: url(../images/dining.jpg);
	background-size: cover;
}

#activityWrapper {
	display: flex;
	justify-content: flex-end;
}

#activityWrapper div {
	order: 1;
	width: 50%;
}

#activityWrapper p {
	width: 30%;
	font-size: 17px;
	line-height: 20px;
	margin-top: 130px;
	position: relative;
	left: -100px;
}

#activityWrapper h2 {
	font-size: 25px;
	position: relative;
	left: 10%;
	top: 50px;
}

#diningWrapper h2 {
	font-size: 25px;
	position: relative;
	left: 15%;
	top: 50px;
	width: 22%;
}

#diningWrapper p {
	width: 30%;
	font-size: 17px;
	line-height: 20px;
	margin-top: 130px;
	position: relative;
	right: 10%;
}

#diningWrapper {
	display: flex;
	justify-content: flex-start;
}

#testimonialWrapper {
	display: flex;
	width: 1000px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
}

#testH2 {
	margin-top: 150px;
	text-align: center;
	font-size: 28px;
}

.testimonial {
	padding: 20px 0 20px 0;
}

.testimonial h3 {
	font-size: 22px;
}

.testimonial p {
	font-size: 18px;
	margin-top: 10px;
}

#closingPara {
	font-size: 20px;
	width: 920px;
	margin: 50px auto;
	text-align: center;
}

#closingPara h3 {
	margin-top: 35px;
	font-size: 26px;
}

#mainFooter {
	margin-top: 100px;
	border-top: 2px solid black;
	background-color: #f7c8b5;
}

#mainFooter div.bookingCon {
	margin: 0 auto;
	padding-top: 40px;
}

#socialMedia {
	display: flex;
	justify-content: left;

}

.socialIcon {
	padding: 3px;
}

#footerInfo {
	margin: 20px auto -50px auto;
	padding-top: 40px;
	text-align: center;
	font-size: 20px;
	width: 360px;
}

#copyright {
	display: flex;
	justify-content: flex-end;
}


@keyframes reveal {
	0% {transform: scaleX(2); filter: blur(10px);}
	100% {transform: scaleX(1); filter: blur(0);}
}

